@{ ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutLogout.cshtml"; }


<div style="margin-top:40px;">
    <div class="row">
        <div class="col-md-1">


        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-6">
                    <div style="background-color: rgba(255, 255, 255, 0.6); position: relative; top: 30%; ">
                        <p style="padding-left: 10px; padding-right: 10px; font-size:28px; line-height:20px;color:#999999; line-height:1.1 ">
                            <span style="color:#E10028">AdChime</span><br />
                            APPROVED SMS
                        </p>
                        <p style="padding-left: 10px; padding-right: 10px; font-size:22px; line-height:20px;color:#999999;  line-height:1.1">
                            The APPROVED SMS platform allows you to send,
                            both individually or massively, SMS to HCPs of
                            your target.
                        </p>
                        <p style=" padding-left: 10px; padding-right: 10px;font-size:20px; line-height:20px;color:black; ">
                            <br />
                            <button class="enterplatformmainpage">ENTER PLATFORM</button>
                        </p>
                    </div>

                </div>
                <div class="col-md-6">

                    <img src="~/Content/Images/MainPage.png" />

                </div>
            </div>



        </div>
        <div class="col-md-1">


        </div>

    </div>
</div>
<!-- about_area_end -->
<br />
<br />

<div id="modal" class="modal fade" data-backdrop="false" role="dialog" style="margin-top: 0px; background-color: rgba(239, 122, 143, 0.7);/*! opacity: 0.5; */" />



@section scripts{
    <script>window.onload = function () {
            $('.modal-backdrop').remove();
        }</script>
    <script>
        window.addEventListener('click', function (event) {
            if (event.target.id == "modal") {
                $('#modal').modal('hide');
            }
        });


        $(function () {


            $(".loginbutton").click(function () {

                $("#modal").load("/Home/Login", function () {
                    $("#modal").modal();
                })


            });

            $(".enterplatformmainpage").click(function () {

                $("#modal").load("/Home/Login", function () {
                    $("#modal").modal();
                })


            });

        })
    </script>
}