@using PagedList.Mvc;
@using PagedList;
@model IPagedList<AstellasSMS.tRecipientSm>

@{ ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


<!-- slider_area_end -->
<!-- about_area_start -->
<div style="margin-top:20px;">
    <div>
        <div class="col-md-12">
            <div class="row">

                <div class="col-md-12" style="padding-left: 10px;">
                    <button class="newlista" style="background: none !important; border: none; padding: 0 !important;">
                        <img src="~/Content/Images/AddNew.png" style="width: 30px;" /> <span style="color:#999999;">Create NEW list</span>
                    </button>
                    &nbsp;&nbsp;&nbsp;
                    <a href="@Url.Action("MyLists", "Home", null)" style="text-decoration:none;">
                        <img src="~/Content/Images/MyLists.png" style="width: 30px;" /> <span style="color:#E10028;">My Lists</span>
                    </a>
                    <br /><br />
                </div>

            </div>


            <div class="row">

                <div class="col-md-1">

                    <p style="color:#E10028;">My lists</p>
                </div>
                <div class="col-md-11">

                </div>

            </div>


            <div class="row">

                <div class="col-md-1 col-sm-12">

                </div>
                <div class="col-md-3 col-sm-5">
                    @foreach (var item in Model)
                    {
                        <a href="@Url.Action("MyListSelected", "Home", new { recipient = item.idrecipient })" style="border-bottom: 1px solid #E2E7F0; padding-bottom: 5px; padding-right: 90px; padding-left: 10px; color:#0162A2; ">@item.TitleRecipient</a>
                        <br /><br />
                    }

                    @Html.PagedListPager(Model, page => Url.Action("MyLists", new { page }))

                </div>


                <div class="col-md-8 col-sm-7">

                </div>

            </div>


        </div>

    </div>
</div>
<!-- about_area_end -->
<br />
<br />

<div id="modaladdnewlist" class="modal fade" data-backdrop="false" role="dialog" style="margin-top: 0px; background-color: rgba(239, 122, 143, 0.7);/*! opacity: 0.5; */" />

@section scripts{
    <script>
            window.onload = function () {
            $('.modal-backdrop').remove();
        }</script>



    <script>
        window.addEventListener('click', function (event) {
            if (event.target.id == "modaladdnewlist") {
                $("#modaladdnewlist").hide();
                $('#modaladdnewlist').modal('hide');
                $("#modaladdnewlist").removeClass("show");
                $("#modaladdnewlist").css("display", "none");

            }
        });



        $(function () {


            $(".newlista").click(function () {

                $("#modaladdnewlist").load("/Home/NewList", function () {
                    $("#modaladdnewlist").modal();

                    $("#modaladdnewlist").addClass("show");
                    $("#modaladdnewlist").css("display", "block");
                })


            });



        })

    </script>

    @if (ViewBag.MsgErroTitle == "sim")
    {
        <script>
            $("#modaladdnewlist").load("/Home/NewList?error=" + 1, function () {
                $("#modaladdnewlist").modal();

                $("#modaladdnewlist").addClass("show");
                $("#modaladdnewlist").css("display", "block");
            })
        </script>

    }
}

